body {
    display: block;
    margin: 8px;
    background-color: #f3e8d6;
}
.header {
    position: fixed;
    Z-INDEX: 15;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 10%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    background-color:  #FBC364;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.mr{
    display: flex;
    margin-top: 3%;
}
.logo0{
    color:#FBC364;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 1%;
}
.logo {
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    margin-top: -1%;
    margin-left: -7%;
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 60px;
    font-size: 20px;
}
.navbar a:hover{
    color: #E5A037;
}
.navbar{
   display: flex;
   justify-content: space-between;
   margin-top: 1%;
}
.myimg {
    position: relative;
    top: 7px;
    width: 30px;
}
.header .hamburger {
    display: none;
}
.myimg {
    position: relative;
    top: 7px;
    width: 30px;
}
/* .formulaire {
    margin-left: 38%;
    margin-top: 8%;
    display: flex;
    color: #ffffff;
    border-top: none;
} */
#searchbar{
    position:relative; width:1040px; height:auto;
}
.champ {
    width: 600px;
    height: 35px;
    background: transparent;
    border: none;
    color: white;
    margin-left: -1%;
    margin-top: -14%;
    border: 2px solid white;
}

.logos3 {
    display: flex;
    color: white;
    margin-top: -9%;
    margin-left: 94%;
    width: 11%;
}
.person {
    width: 25%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 2%;
}
.cart{
    width:25%;
    margin-right: 20%;
}
.heart{
    width:25%;
}
img:hover {
    
    border-radius: 6px;
    
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}
@media screen and (max-width: 768px) {
    .formulaire{
        display:none
    }
    .logos3{
        display: none;
    }
    .logo{
        margin-left: 35%;
        margin-top:5%;
    }
    .header{
        height: 15%;
    }
    .navbar {
        position: fixed;
        display: flex;
        flex-direction: column;
        margin-left: -5%;
    }
     .header .navbar{
        position: fixed;
        flex-direction: column;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
        background-color:#ffffff;
        border-radius: 12px;
        left: 0;
        right: 0;
        width: 90%;
        align-items: center;
        top: -100%;
        padding-bottom: 5%;
        padding-top: 5%;
        margin-left: 5%;
    }  
    .navbar a{
        color:#E5A037;
        margin-left: 60px;
    }
    .header .hamburger {
        display: block;
        margin-left: 90%;
        margin-top: -7%;
    }
    .navbar.show{
        top: 15%;
      }
}
/* FIN DU HEADER */
/* DEBUT SECTION 1 */
.co {
    position: absolute;
    margin-left: 7%;
    margin-top: -0.5%;
    color: #ffffff;
    text-decoration: none;
}
.co:hover{
    color: #E5A037;
}
.section1 {
    margin-top: 17%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 111px 30%;
    background-color:#FBC364;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section1:hover{
    box-shadow: #E5A037 0px 7px 29px 0px;
}
@media screen and (max-width: 768px) {
    .section1{
        margin-top: 30%;
    }
    .co {
        margin-left: 4%;
    }
}
/* FIN SECTION1 */
/* DEBUT SECTION 2 */
.hr1 {
    border: none;
    border-top: 3px double #E5A037;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 5%;
    color:#E5A037;
    margin-left: 32%;
    margin-right: 35%;
}
.hr1:after{
    content: "Nos Offres";
    background: #fff;
    padding: 0 4px;
    position: relative;
    top: -13px;
    margin-left: 4.5%;
    color:#E5A037;
    background-color: #f3e8d6;
}
.offre{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
.ctri {
    margin-top: 6.6%;
    width: 18%;
    background-color: transparent;
    border: solid;
}
.ccorne {
    margin-top: 6.6%;
    background-color: transparent;
    border: solid;
    width: 18%;
}
.czel {
    margin-top: 6.6%;
    background-color: transparent;
    border: solid;
    width: 18%;
}

.triangle {
    width: 51%;
    height: 105px;
    margin-left: 25%;
    margin-top: 13%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.corne {
    width: 52%;
    height: 105px;
    margin-top: 12%;
    margin-left: 25%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.zellige {
    width: 50%;
    height: 105px;
    margin-left: 26%;
    margin-top: 12.5%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.ptri {
    text-align: center;
}
.pcornede{
    text-align: center;
}
.pzel{
    text-align: center;
}
.offre1:hover{
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}
.offre2:hover{
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}
.offre3:hover{
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}
@media screen and (max-width: 768px) {
    .hr1 {
        margin-left: 30%;
        margin-right: 30%;
    }
    .triangle {
        margin-left: 39%;
    }
    .corne {
        margin-left: 20%;
    }
    .zellige {
        margin-left: 29%
    }

}
/* FIN DE LA SECTION 2 */
/* DEBUT SECTION 3 */
.hr2 {
    border: none;
    border-top: 3px double #E5A037;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 5%;
    color:#E5A037;
    margin-left: 14%;
    margin-right: 14%;
}
.hr2:after{
    content: "Qui sommes nous?";
    background: #f3e8d6;
    padding: 0 4px;
    position: relative;
    top: -13px;
    margin-left: 0.5%;
    margin-right: 2%;
    color:#E5A037
}
.imgqui{
    padding: 88px 6%;
    background-color:#FBC364;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.imgqui:hover{
    box-shadow: #E5A037 0px 7px 29px 0px;
}
.textequi{
    margin-top: 5%;
    color: #E5A037;
    margin-right: 15%;
    margin-left:15%;
    text-align: center;
    font-size: 20px;
}
/* DEBUT SECTION footer */
.section4 {
    margin-top: 20%;
    padding: 60px 26% 82px 29%;
    background-color: #FBC364;
    margin-left: 11%;
    position: absolute;
}
.mc2 a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
}
.mc2 a:hover{
    color: #E5A037;
}
.map2 {
    margin-left: -79%;
    margin-top: 13%;
}
.cift2 {
    margin-left: 112%;
    margin-top: -89%;
    font-size: 101%;
}
.menu2 {
    font-size: 212%;
    margin-bottom: 2%;
}
.contact2 {
    font-size: 212%;
    margin-bottom: 5%;
}
.acceuil2{
    margin-left: 4%;
}
.patisseries2{
    margin-left: 1%;
}
.plats2{
    margin-left: 6%;
}
.réservations2{
    margin-left: -2%
}
.informations2{
    margin-left: -14%;
}
.propos2{
    margin-left: 1%;
}
.polya {
    margin-left: 73.5%;
    margin-top: 19.9%;
    width: 33.5%;
    position: absolute;
}
.polyb {
    margin-top: 20%;
    width: 30%;
    margin-left: -2%;
    position: absolute;
}