body {
    display: block;
    margin: 8px;
    background-color: #f3e8d6;
}
.header {
    position: fixed;
    Z-INDEX: 15;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 10%;
    height: 14%;
    justify-content: space-between;
    align-items: center;
    background-color:  #FBC364;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.mr{
    display: flex;
    margin-top: 3%;
}
.logo0{
    color:#FBC364;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 1%;
}
.logo {
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    margin-top: -1%;
    margin-left: -7%;
}
.recherche{
    width: 52%;
    height: 29px;
    margin-left: 20%;
    border-color: white;
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 60px;
    font-size: 20px;
}
.navbar a:hover{
    color: #E5A037;
}
.navbar{
   display: flex;
   justify-content: space-between;
   margin-top: 3%;
}
.myimg {
    position: relative;
    top: -29px;
    width: 30px;
    margin-left: 85%;
}
.header .hamburger {
    display: none;
}
/* .formulaire {
    margin-left: 38%;
    margin-top: 8%;
    display: flex;
    color: #ffffff;
    border-top: none;
} */
#searchbar{
    position:relative; width:1040px; height:auto;
}
.champ {
    width: 600px;
    height: 35px;
    background: transparent;
    border: none;
    color: white;
    margin-left: -1%;
    margin-top: -14%;
    border: 2px solid white;
}

.logos3 {
    display: flex;
    color: white;
    margin-top: -6%;
    margin-left: 94%;
    width: 11%;
}
.person {
    width: 25%;
    margin-right: 20%;
    margin-top: -22%;
    margin-bottom: 2%;
    margin-left: -7%;
}
.cart{
    width: 25%;
    margin-top: -21%;
}
img:hover {
    
    border-radius: 6px;
    
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}
@media screen and (max-width: 768px) {
    .formulaire{
        display:none
    }
    .logos3{
        width: 20%;
        margin-left: 106%;
        margin-top: 20%;
        display: grid;
    }
    .logo {
        margin-left: 38%;
        margin-top: 6%;
    }
    .header{
        height: 15%;
    }
    .navbar {
        position: fixed;
        display: flex;
        flex-direction: column;
        margin-left: -5%;
    }
     .header .navbar{
        position: fixed;
        flex-direction: column;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
        background-color:#ffffff;
        border-radius: 12px;
        left: 0;
        right: 0;
        width: 90%;
        align-items: center;
        top: -100%;
        padding-bottom: 5%;
        padding-top: 5%;
        margin-left: 5%;
    }  
    .navbar a{
        color:#E5A037;
        margin-left: 0px;
    }
    .header .hamburger {
        display: block;
        margin-left: 19%;
        margin-top: -2.5%;
    }
    .navbar.show{
        top: 15%;
      }
      .recherche{
        display: none;
      }
      .cart {
        width: 25%;
        margin-top: -6%;
        margin-left: -3%;
    }
    .person {
        width: 25%;
        margin-right: 20%;
        margin-top: 0%;
        margin-bottom: 2%;
        margin-left: -2%;
    }
    
}
/* FIN DU HEADER */
/* DEBUT SECTION 1 */
.co {
    position: absolute;
    margin-left: -55%;
    margin-top: 13.5%;
    color: #ffffff;
    text-decoration: none;
    font-size: 212%;
    font-family: 'Architects Daughter', cursive;
}
.co:hover{
    color: #E5A037;
}
.section1 {
    margin-top: 12%;
    margin-left: 0%;
    margin-right: 20%;
    width: 100%;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.section1:hover{
    box-shadow: #E5A037 0px 7px 29px 0px;
}
.dough{
    width: 100%;
    height: 483px;
}
@media screen and (max-width: 768px) {
    .section1 {
        margin-top: 30%;
        margin-bottom: 11%;
    }
    .co {
        margin-left: 39%;
        position: absolute;
        margin-top: -32%;
    }
    .dough {
        width: 102%;
        height: 485px;
        margin-left: -1%;
        margin-top: -14%;
    }
}
/* FIN SECTION1 */
/* DEBUT SECTION 2 */
.hr{
       text-align: center;
    color: #e5a037;
    margin-bottom: 6%;
    margin-top: 6%;
    font-size: 194%;
}
.offre{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
.triangle {
    width: 141%;
    height: 204px;
    margin-left: 64%;
    margin-top: 40%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.corne {
    width: 90%;
    height: 202px;
    margin-top: 27%;
    margin-left: 4%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.zellige {
    width: 108%;
    height: 201px;
    margin-left: -96%;
    margin-top: 34%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.ptri {
    text-align: center;
    margin-left: 39%;
    margin-right: -131%;
    color: #E5A037;
}
.pcornede{
    text-align: center;
    margin-left: -126%;
    margin-right: -127%;
    color: #E5A037;
}
.pzel{
    text-align: center;
    color: #E5A037;
    margin-left: -186%;
}
.offre1:hover{
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}
.offre2:hover{
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}
.offre3:hover{
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}
@media screen and (max-width: 768px) {
    .hr1 {
        margin-left: 30%;
        margin-right: 30%;
    }
    .triangle {
        margin-left: 13%;
        width: 73%;
        height: 49%;
        margin-top: 22%;
    }
    .ptri {
        margin-left: -134%;
        text-align: center;
    }
    .corne {
        width: 135%;
        height: 49%;
        margin-left: 3%;
        margin-top: 40%;
    }
    .pcornede {
        text-align: center;
        margin-left: 24%;
        margin-right: -19%;
    }
    .zellige {
        margin-left: 29%;
        width: 61%;
        height: 49%;
        margin-top: 18%;
    }
    .pzel {
        text-align: center;
        margin-left: 19%;
    }
}
/* FIN DE LA SECTION 2 */
/* Début SECTION 3 */
.titavis{
    text-align: center;
    color: #e5a037;
    margin-bottom: 10%;
    margin-top: 27%;
}
.sectioninsta{
    margin: 0% 15% 0% 20%;
    color: #e5a037;
}
.avis1{
    width: 68%;
    background-color: white;
    margin: 0% 10% 10% 0%;
    padding: 5% 0% 5% 15%;
}
.avis2{
    width: 68%;
    background-color: white;
    margin-bottom: 10%;
    padding: 5% 0% 5% 15%;
}
.avis3{
    width: 68%;
    background-color: white;
    margin: 0% 10% 0% 0%;
    padding: 5% 0% 5% 15%;

}
.avis4{
    width: 68%;
    background-color: white;
    padding: 5% 0% 5% 15%;
}
.avis12{
    display: flex;
}
.avis34{
    display: flex;
}
.imgavis1{
    width: 157px;
    height: 220px;
    margin-top: -6%;
    margin-left: -12%;
    position: absolute;
}
.imgavis2{
    width: 157px;
    height: 220px;
    margin-top: -6%;
    margin-left: -12%;
    position: absolute;
}
.imgavis3{
    width: 157px;
    height: 220px;
    margin-top: -6%;
    margin-left: -12%;
    position: absolute;
}
.imgavis4{
    width: 157px;
    height: 220px;
    margin-top: -6%;
    margin-left: -12%;
    position: absolute;
}
@media screen and (max-width: 768px) {
    .titavis {
        margin-top: 32%;
    }
    .avis1 {
        width: 68%;
        background-color: white;
        margin: 0% 10% 10% 0%;
        padding: 5% 2% 3% 15%;
    }
    .imgavis1 {
        width: 157px;
        height: 220px;
        margin-top: 0.5%;
        margin-left: -22%;
        position: absolute;
    }
    .avis2 {
        background-color: white;
        margin-bottom: 10%;
        padding: 3% 4% 7% 15%;
        margin-left: 18%;
    }
    .imgavis2 {
        width: 157px;
        height: 220px;
        margin-top: 1%;
        margin-left: -22%;
        position: absolute;
    }
    .avis3 {
        width: 68%;
    background-color: white;
    margin: 0% 10% 0% 0%;
        padding: 5% 4% 5% 15%;
    }
    .imgavis3 {
        width: 157px;
        height: 220px;
        margin-left: -22%;
        margin-top: 0.5%;
        position: absolute;
    }
    .avis4 {
        width: 68%;
    background-color: white;
    margin-left: 19%;
        padding: 5% 4% 5% 15%;
    }
    .imgavis4 {
        width: 157px;
        height: 220px;
        margin-left: -22%;
        margin-top: 0.5%;
        position: absolute;
    }
}
/* FIN SECTION 3 */
.polya {
    margin-left: 73.5%;
    margin-top: 19.9%;
    width: 33.5%;
    position: absolute;
}
.polyb {
    margin-top: 20%;
    width: 30%;
    margin-left: -2%;
    position: absolute;
}
/* DEBUT SECTION footer */
.footer{
    width: 20%;
    padding: 7% 40%;
    background-color: #FBC364;
    position: absolute;
    margin-top: 10%;
    text-align: center;
}
.logo2{
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    margin-top: -2%;
    margin-left: -4%;
}
.souslogo{
    color: #fffffb;
    font-family: 'Architects Daughter', cursive;
    font-size: 12px;
    margin-top: -17%;
    margin-left: -6%;
}
.logoetsous{
    margin-top: -5%;
    position: absolute;
    margin-left: 4%;
}
.copy{
    position: absolute;
    width: 20%;
    padding: 0.5% 39% 0.5% 40%;
    background-color: #ffd387;
    margin-top: 7%;
    margin-left: -39.6%;
}
.right{
    font-size: 63%;
    color: white;
    margin-left: -16%;
}
.mc2 a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
}
.mc2 a:hover{
    color: #E5A037;
}
.map2 {
    margin-left: -122%;
    margin-top: -34%;
}
.cift2 {
    margin-left: 174%;
    margin-top: -52.5%;
    font-size: 101%;
    display: block;
}
.cift2 a{
    margin-left: 2%;
}
.menu2 {
    font-size: 212%;
    margin-bottom: 2%;
    color: #ffffff;
    margin-left: -73%;
}
.contact2 {
    font-size: 212%;
    margin-left: -4%;
    margin-bottom: 5%;
    margin-top: -0.5%;
    color: #ffffff;
}
.acceuil2{
    margin-left: 10%;
}
.patisseries2{
    margin-left: 8.5%;
}
.plats2{
    margin-left: 11%;
}
.réservations2{
    margin-left: 7%;
}
.informations2{
    margin-left: 5%;
}
.propos2{
    margin-left: 9%;
}
.insta2{
    margin-bottom: 5%;
}
.facebook2{
    margin-bottom: 5%;
}
.téléphone2{
    margin-bottom: 5%;
}
.paiement-footer {
    display: flex;
    position: absolute;
    margin-right: 48%;
    margin-top: 5%;
    margin-left: 3%;
    height: 10%;
}
.cbi{
    width: 25%;
    margin-left: -40%;
}
.klarnai{
    width: 35%;
    margin-left: 10%;
}
.masteri{
    width: 26%;
    margin-left: 10%;
}
.visai{
    width: 28%;
    margin-left: 10%;
}
.americani{
    width: 20%;
    margin-left: 10%;
}
.paypali{
    width: 32%;
    margin-left: 10%;
}
.applei{
    width: 30%;
    margin-left: 10%;
}
@media screen and (max-width: 768px) {
    .footer {
        width: 18%;
        padding: 12% 40%;
        background-color: #FBC364;
        margin-top: 10%;
        text-align: center;
        position: absolute;
    }

    .copy {
        position: absolute;
        width: 21%;
        padding: 0.5% 39% 0.5% 40%;
        background-color: #ffd387;
        margin-top: 12%;
        margin-left: -40.8%;
    }
    .logo2 {
        color: #ffffff;
        font-family: 'Architects Daughter', cursive;
        font-size: 40px;
        margin-top: -5%;
        margin-left: -1%;
        position: absolute;
    }
    .souslogo {
        color: #fffffb;
        font-family: 'Architects Daughter', cursive;
        font-size: 12px;
        margin-top: 1%;
        position: absolute;
        margin-left: -1%;
    }
    .acceuil2 {
        margin-left: 2%;
        margin-top: 8%;
    }
    .menu2 {
        font-size: 212%;
        color: #ffffff;
        margin-left: -1%;
        position: absolute;
        margin-top: -6%;
    }
    .patisseries2 {
        margin-left: -1%;
    }
    .plats2 {
        margin-left: 4%;
    }
    .réservations2 {
        margin-left: -4%;
    }
    .informations2 {
        margin-left: -16.5%;
    }
    .propos2 {
        margin-left: -1%;
    }
    .cift2 {
        margin-left: 187%;
        margin-top: -141.5%;
        font-size: 101%;
        display: block;
    }
    .contact2 {
        font-size: 212%;
        position: absolute;
        color: #ffffff;
        margin-top: 5%;
        margin-left: -1%;
    }
    .téléphone2 {
        position: absolute;
        margin-top: 21%;
        margin-left: 2%;
    }
    
    .facebook2 {
        position: absolute;
        margin-top: 17%;
        margin-left: 2%;
    }
    .insta2 {
        margin-top: 13%;
        position: absolute;
        margin-left: 2%;
    }
}
/* carrousel */
.carousel {
    display: flex;
    width: 96%;
    height: 6%;
    align-items: center;
    font-family: Arial;
    margin-bottom: 25%;
    margin-left: -1%;
}
.carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 156px;
    justify-content: center;
    perspective: 300px;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 278px;
  height: 277px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;
}
.carousel__item:nth-child(1) {
  background-image: url(../img/zellige.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 120%;
}
.carousel__item:nth-child(2) {
  /* background: linear-gradient(45deg, #2d35eb 0%, #fdbb2d 100%); */
  background-image: url(../img/chebakkia.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 120%;
}
.carousel__item:nth-child(3) {
  background-image: url(../img/ghliba\(600\).png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 120%;
}
.carousel__item:nth-child(4) {
  background-image: url(../img/gateau_choco.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 120%;
}
.carousel__item:nth-child(5) {
    background-image: url(../img/fekkas\(600\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 120%;
}

.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}
.cheb1 {
    width: 100%;
    height: 64%;
    margin-block-end: auto;
    border-radius: 7%;
    transition: all 0.3s ease-in;
}
.textcar1 {
    position: absolute;
    margin-top: 140%;
    color: #E5A037;
}
.textcar2 {
    position: absolute;
    margin-top: 140%;
    color: #E5A037;
}
.textcar3 {
    position: absolute;
    margin-top: 140%;
    color: #E5A037;
}
.textcar4 {
    position: absolute;
    margin-top: 140%;
    color: #E5A037;
}
.textcar5 {
    position: absolute;
    margin-top: 140%;
    color: #E5A037;
}
