.tic{
    position: absolute;
    margin-top: -9%;
    margin-left: 17%;
    color: #E5A037;
    font-family: 'Architects Daughter', cursive;
    font-size: 268%;
}
.mailc{
    display: flex;
    margin-bottom: 2%;
}
.pmailc{
    font-size: 168%;
    color: #875706;
    margin-left: 8.5%;
    margin-top: 2%;
    font-family: 'Architects Daughter', cursive;
}
.instac{
    display: flex;
    margin-bottom: 2%;
    margin-left: 0.5%;
}
.pinstac{
    font-size: 168%;
    color: #875706;
    margin-left: 8.7%;
    margin-top: 2%;
    font-family: 'Architects Daughter', cursive;
}
.facec{
    display: flex;
    margin-left: 0.2%;
}
.pfacec{
    font-size: 168%;
    color: #875706;
    margin-left: 8.5%;
    margin-top: 2%;
    font-family: 'Architects Daughter', cursive;
}
.propo{
    background-image: url(../img/marbre-beige.PNG);
    background-repeat: no-repeat;
    width: 118%;
    padding: 26%;
    background-size: 59%;
    margin-bottom: -26%;
    font-family: 'Architects Daughter', cursive;
}