.pat{
    margin-top: 17%;
    margin-bottom: -10%;
    margin-left: 46%;
    color: #E5A037;
}
.P4{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}
.photo1{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.photo2{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
}
.photo3{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
}
.photo4{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
}
.P8{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.photo5{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;

}
.photo6{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;

}
.photo7{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
}
.photo8{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
}
.prix2 {
    margin-top: 21%;
    margin-left: -17%;
    margin-bottom: -4%;
    color: #E5A037;
    text-align: center;
}
.ajou {
    margin-top: 25%;
    margin-bottom: -23%;
    margin-left: -10%;
}
@media screen and (max-width: 768px) {
    .pat{
        margin-top: 35%;
        margin-bottom: 0%;
        margin-left: 42.5%;
    }
    .P4 {
        width: 281%;
        margin-left: 23%;
        margin-right: 0%;
        display: block;
    }
    .P8{
        width: 281%;
        margin-left: 23%;
        margin-right: 0%;
        display: block;
    }
    .prix2 {
        margin-top: 1%;
        margin-left: -80%;
        margin-bottom: 4%;
        text-align: center;
    }
}