.plat{
    margin-top: 17%;
    margin-bottom: -10%;
    margin-left: 48%;
    color: #E5A037;
}
.P42{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    margin-left: 0%;
    margin-right: 6%;
}
.photo12{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.photo22{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
}
.photo32{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
}
.photo42{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
}
.P82{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-left: 0%;
    margin-right: 6%;
}
.photo52{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;

}
.photo62{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;

}
.photo72{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
}
.photo82{
    width: 10%;
    padding: 10% 5% 10% 5%;
    background-color: white;
}
.prix22{
    margin-top: 21%;
    margin-left: -25%;
    margin-bottom: -4%;
    color: #E5A037;
    text-align: center;
}
@media screen and (max-width: 768px) {
    
    .plat{
        margin-top: 35%;
        margin-left: 48%;
    }

    .P42 {
        width: 281%;
        margin-left: 23%;
        margin-right: 0%;
        display: block;
    }
    .P82{
        width: 281%;
        margin-left: 23%;
        margin-right: 0%;
        display: block;
    }
    .prix22 {
        margin-top: 1%;
        margin-left: -80%;
        margin-bottom: 4%;
        text-align: center;
    }
}